<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-lock-open fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    
    <% usersWithSecrets.forEach(function(user){ %>
      <p class="secret-text"><%=user.secret%></p>

    <%})%>
    <hr>
    
    <button class="btn btn-light btn-lg" id="btn-signout"><a href="/logout" role="button"> Log Out </a></button>
    <button class="btn btn-dark btn-lg"> <a href="/submit" role="button">Share Your Secret</a></button>
  </div>
</div>

<%- include('partials/footer') %>
