<%- include('partials/header') %>
<div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-cookie-bite fa-6x"></i>
      <h1>Our terms and conditions</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Voluptatum atque quia dolor natus fuga veritatis. Aperiam quas 
        voluptatum reprehenderit non rem optio, nemo, at dolore inventore, 
        sapiente exercitationem nam magnam dignissimos! Doloremque distinctio
        possimus beatae? Eaque eligendi, libero non, magnam soluta modi officiis
        perspiciatis voluptas exercitationem fugiat suscipit velit molestias 
        reprehenderit at autem veritatis deleniti. Placeat voluptatibus obcaecati, 
        fuga ratione temporibus eos rem in praesentium sequi laborum ipsa odio quae 
        suscipit? Magni sapiente tenetur sed dicta fugiat, a, inventore officia, 
        aspernatur harum voluptatem iusto autem? Cum ad sed necessitatibus iusto facere 
        quidem accusantium! Eaque praesentium autem provident blanditiis id quisquam.</p>
        <p>I understand, take me back to <a class="aLink"
          href="/">Home</a></p>

</div>  
</div>

<%- include('partials/footer') %>